<!--
  Generated template for the InventarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Inventario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Lista de clientes 
  <br>

  <button ion-button color="blue" round (click)="onDetalle()">Detalle</button>
    
</ion-content>
