page-bienvenida {
    #bienvenida{
        background: blueviolet;
        h1{
            font-size: 40px;
            margin-top: 50px;
        }
        .margenTop{
            margin-top: 50px;
        }
    }
}
