<ion-header>
  <ion-navbar>
    <ion-title>HomeBrain</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>
    .:HomeBrain:..
  </h2>
  <div padding style="align-content: center; margin-top: 20px;">
    <button ion-button color="danger" full round (click)="salir()">Salir</button>
  </div>
</ion-content>
